body {
	background-color: #F5E1C2
}
h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
}
h3 {
	font-family: Verdana;
	font-weight: bold;
	color: black;
	padding-top: 25px;
	padding-bottom: 25px;
}
}
p {	font-family: Arial;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
}
